<div class="container-fluid" style="padding:0; margin: 0;">
  <nav class="navbar navbar-expand-lg navbar-light bg-light rounded navbar-toggleable">
    <a class="navbar-brand" href="#">Navbar</a>
    <button (click)="toggleMenu()" class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [ngClass]="{'show': isMenuExpanded}" id="containerNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Custom pagination Table</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/infinite']" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact: true}">Custom Infinite scroll Table</a></li>
      </ul>
    </div>
  </nav>
  <template ngbModalContainer>
  </template>
</div>
<br />
<router-outlet></router-outlet>
<!--<ng2-toasty></ng2-toasty>-->
